/* Global Classes */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --mainColor: #f08d86;
  --bgColor: #949494;
}
body {
  background-color: #fff;
  font-family: "Tajawal", sans-serif;
}
button {
  font-family: "Tajawal", sans-serif;
  font-weight: 500;
}
a {
  text-decoration: none;
  color: #fff;
}
li {
  list-style: none;
}
.flex {
  display: flex;
  align-items: center;
  gap: 8px;
}
.conatiner {
  width: 90%;
  margin: 0 auto;
}
.conatiner.chat {
  width: 95%;
}
/* Global Classes */
/* Satrt Nav  */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  transition: all 0.5s;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
}
.logo {
  width: 90px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 275px;
}
.logo_img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.flex , span a {
  font-size: 24px;
  font-weight: 600;
}

.list {
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: 18px;
}
.login.dez {
  transition: all 0.5s;
}
.list.log li a {
  color: #fff;
}
.login.dez a {
  color: #17153b;
}
.login.dez:hover {
  background-color: var(--mainColor);
}
.list li a.active {
  color: var(--mainColor);
}
.list li a {
  color: #000;
  transition: color 0.5s;
}
.list li a:hover {
  color: var(--mainColor);
}
.p-btn {
  display: flex;
  align-items: center;
  gap: 8px;
}
.login,
.signe,
.btn-upgrad {
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
  border: 0;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.login.home {
  background-color: transparent;
  color: #3e3553;
  border: 1px solid var(--mainColor);
  padding: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}
.login.home a {
  color: #3e3553;
  padding: 10px 20px;
  padding-right: 0;
}
.login.home i {
  color: #3e3553;
  padding: 0 20px;
  padding-left: 0;
}
.login.home:hover a {
  color: #fff;
}
.login.home:hover i {
  color: #fff;
}
.login.home:hover {
  background-color: var(--mainColor);
  color: #fff;
  transition: all 0.2s;
  border: 1px solid var(--mainColor);
}
.signe {
  background-color: var(--mainColor);
  width: 108px;
}

/* End Nav */
/* Start Sidebar  */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100%;
  background-color: #0f1e46;
  transition: all 0.5s ease;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
.main-ul {
  padding: 20px;
}

.sidebar ul li a {
  font-size: 20px;
  color: #fff;
}
.sidebar ul li:first-child {
  border-top: 0;
}
.sidebar ul li {
  height: 100%;
  width: 100%;
  line-height: 70px;
  font-size: 20px;
  color: #fff;
  transition: 0.4s;
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  border-bottom: 2px solid #949494;
  transition: all 0.5s;
  cursor: pointer;
}
.sidebar ul li:hover {
  padding-left: 15px;
}
.sidebar ul li i {
  margin-right: 16px;
}
.sidebar ul li .active {
  color: var(--mainColor);
}

#check {
  display: none;
}
label #btn,
label #cancel {
  position: absolute;
  cursor: pointer;
  border-radius: 3px;
}
label #btn {
  left: 0;
  top: 25px;
  font-size: 35px;
  padding: 6px 12px;
  transition: all 0.2s;
}
label #cancel {
  z-index: 111;
  left: 223px;
  top: 14px;
  font-size: 30px;
  color: #fff;
  padding: 4px 9px;
  transition: all 0.5s ease;
}

#check:checked ~ .sidebar {
  left: -280px;
}

#check:checked ~ label #btn {
  left: 25px;
  opacity: 1;
  /* pointer-events: none; */
}
#check:checked ~ label #cancel {
  left: -50px;
}

#check:checked ~ .header {
  margin-left: 0;
}
.active_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.not span {
  width: 20px;
  height: 20px;
  background-color: #505f84;
  border-radius: 30%;
  padding: 5px 8px 5px 5px;
  text-align: center;
  font-size: 14px;
  color: #c6c1c1;
}
.mode {
  width: 120px;
  border-radius: 40%;
  padding: 10px 5px;
  display: flex;
  gap: 20px;
  font-size: 18;
  background-color: #2e3f6c;
  justify-content: center;
  align-items: center;
  margin: 40px 20px;
  cursor: pointer;
}
.mode .sun {
  border-radius: 50%;
  padding: 5px;
  background-color: #ffb800;
}
.mode .moon {
  background-color: #fff;
  border-radius: 50%;
  padding: 6px 8px;
  transition: all 0.3s;
}
.mode .moon:hover {
  border-radius: 50%;
  padding: 6px 8px;
  background-color: #ffb800;
}
.upgrad {
  width: 100%;
  padding: 15px;
  border-radius: 20px;
  background-color: #2e3f6c;
  margin-top: 80px;
}
.pro {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.avatar,
.send-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.bg-login {
  width: 70%;
}

.info {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  color: #fff;
  gap: 3px;
}
.email {
  color: var(--bgColor);
}
.card {
  display: flex;
  gap: 8px;
  align-items: center;
}
.basick {
  padding: 5px;
  border-radius: 20px;
  background-color: #17153b;
  color: #fff;
  font-size: 12px;
}
.btn-upgrad {
  margin-top: 20px;
  width: 100%;
  color: #0d0819;
  transition: all 0.2s;
}
.btn-upgrad:hover {
  background-color: rgb(212, 210, 210);
}
.btn-upgrad i {
  color: #494646;
  font-size: 18px;
}
/* End Sidebar  */
/* Start page Login */
.pg-login {
  color: #000;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}
.title {
  text-transform: uppercase;
  font-size: 25px;
}

.form-login {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 100px;
}
.form-dezine,
.media {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: start;
  width: 80%;
  margin: 0 auto;
  cursor: pointer;
  margin-bottom: 20px;
}
.form-dezine input,
button {
  padding: 20px;
  outline: none;
  border-radius: 10px;
  border: 1px solid var(--bgColor);
}
.form-dezine button {
  cursor: pointer;
  background-color: var(--mainColor);
  color: #fff;
  font-size: 20px;
  padding: 15px;
  outline: none;
  border: 0;
}

.signe-acc {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.signe-acc .acc-heading {
  color: #645e5e;
}
.signe-acc a {
  color: var(--mainColor);
}
.or {
  text-align: center;
  position: relative;
  padding-left: 10px;
}
.or::after {
  content: "";
  position: absolute;
  border: 0.5px solid var(--bgColor);
  width: 136px;
  top: 9px;
  right: 30px;
}
.or::before {
  content: "";
  position: absolute;
  border: 0.5px solid var(--bgColor);
  width: 136px;
  top: 9px;
  left: 41px;
}

.media .btn-media {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid var(--bgColor);
  text-align: start;
  display: flex;
  gap: 18px;
  font-size: 18px;
  align-items: center;
}
.media .btn-media:hover {
  background-color: rgba(174, 171, 171, 0.3);
}
/* End page Login */
/* start chat */
.p-btn.menu {
  display: block;
}

.par-drop {
  position: relative;
  border-radius: 10px;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
}

.p-btn.menu:hover .par-drop {
  opacity: 1;
  visibility: visible;
}

.par-drop::before {
  content: "";
  border: 15px solid transparent;
  position: absolute;
  border-bottom: 15px solid #4c4949;
  left: 10px;
  top: -16px;
}
.drop {
  position: absolute;
  border-radius: 10px;
  top: 10px;
  right: -52px;
  width: 150px;
  background-color: #4c4949;
  padding: 10px;
  text-align: center;
  display: flex;
  gap: 18px;
  flex-direction: column;
}
.avatar.bar {
  cursor: pointer;
}

.item-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  padding: 8px 5px;
  border-radius: 5px;
  transition: all 0.2s;
  border-bottom: 1px solid #f08d86;
}
.item-menu:hover {
  background-color: #8a828299;
}
/* End chat */
/* start sidebar chat */
.list-item-hisotry {
  margin-top: 30px;
}

ul li.item-hisotry {
  margin-top: 20px;
  font-size: 14px;
  border-top: 0;
  line-height: 40px;
}
/* start sidebar chat */
ul li.item-hisotry:hover {
  padding-left: 0;
}
ul li.item-hisotry .not h4 {
  font-size: 18px;
  color: rgb(183, 189, 183);
}
ul li.item-hisotry span {
  color: var(--bgColor);
}
/* End sidebar chat */
/* strat search */
.search {
  width: 400px;
  border-radius: 10px;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  padding: 4px 14px;
  cursor: pointer;
}
.search i {
  padding: 10px;
  background-color: rgb(169, 171, 177);
  border-radius: 50%;
  color: #fff;
}
.search input {
  width: 100%;
  padding: 15px;

  border-radius: 10px;
  outline: none;
  border: 0;
  background-color: transparent;
}
/* end search */
/* Satrt Ask */
.ask {
  width: 60%;
  font-size: 26px;
  bottom: 0;
  position: fixed;
  left: 420px;
  margin: 0 auto;
  padding: 30px;
  padding: 05px;
}
.ask .par-upload {
  margin-bottom: 50px;
}
.scroll {
  height: 500px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.ask i {
  cursor: pointer;
}
.ask-text {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #bebaba;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: transparent;
}
.ask-text input {
  width: 87%;
  background-color: transparent;
  outline: none;
  border: 0;
  padding: 35px;
  cursor: pointer;
}
.upload {
  width: 100%;
  background-color: #d5dae7;
  padding: 10px;
  border: 1px solid #bebaba;
  border-bottom: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
}
.item-info {
  padding: 10px;
  font-size: 18px;
  margin-right: 20px;
  display: inline;
  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
}
.control {
  position: relative;
}

.show {
  position: absolute;
  top: -50px;
  background-color: #000;
  color: #fff;
  padding: 5px 10px;
  text-align: center;
  font-size: 12px;
  left: -30px;
  width: 100px;
  visibility: hidden;
}
.show::before {
  content: "";
  border: 10px solid transparent;
  border-top: 10px solid #000;
  position: absolute;
  top: 23px;
  left: 30px;
}
.item-info:hover .show {
  visibility: visible;
}
/* End Ask */
/* start send  */

.send {
  background-color: #fce8e7;
  width: 60%;
  padding: 16px;
  border-radius: 20px;
  margin: 40px 0;
  margin-left: 354px;
}
.par-send {
  display: flex;
  gap: 10px;
  flex-direction: column;
  position: relative;
}
.hed-item {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  align-items: center;
}
.content {
  display: flex;
  gap: 8px;
  margin-top: 20px;
}

.item-send {
  font-size: 12px;
  color: #262323;
}
.like {
  display: flex;
  gap: 8px;
}

.qus h3 {
  font-size: 16px;
  font-weight: 600;
  color: #413e40;
  margin-left: 55px;
}

.features .hint,
.features .hint-copy,
.features .hint-share {
  position: absolute;
  font-size: 13px;
  gap: 12px;
  width: 130px;
  border: 1px solid var(--bgColor);
  background-color: #fff;
  padding: 8px;
  border-radius: 5px;

  cursor: pointer;
}
.sun-hint {
  display: flex;
  gap: 12px;
}
.hint {
  bottom: -38px;
}
.hint-copy {
  bottom: -38px;
  left: 137px;
}
.hint-share {
  left: 278px;
  bottom: -36px;
}
.send.hup {
  width: 80%;
  margin-left: 0;
  background-color: #d5dae7;
  font-size: 12px;
  font-weight: 100;
}
.send.hup .qus h3 {
  font-weight: 100;
  line-height: 1.5;
  margin-left: 0;
}
.send.hup .hed-item {
  margin-bottom: 15px;
}
.send.hup .content {
  font-size: 18px;
}
.send.hup .content i {
  margin-right: 10px;
}
.send.hup .hint,
.send.hup .hint-copy,
.send.hup .hint-share {
  background-color: #f0f0f0;
  color: #000;
}
/* end send  */
/* start footer  */
footer {
  width: 100%;
  background-color: #000;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}
/* end footer  */
/* start card head  */
.card-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  cursor: pointer;
}
.par-item {
  display: flex;

  gap: 20px;
}
.mar {
  margin-right: 15px;
  border: 1px solid #0d0819;
  padding: 10px 15px;
  border-radius: 10px;
  transition: all 0.2s;
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
.mar:hover {
  background-color: #e9e6e6;
}
.card-item .hed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}
.card-item .hed h3 {
  flex-grow: 1;
  text-align: center;
  color: var(--mainColor);
}
.card-item .hed i {
  color: var(--mainColor);
}
/* end card head  */
/* Media Query */

@media (min-width: 300px) and (max-width: 768px) {
  .header {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .list {
    display: none;
  }
  .p-btn {
    display: block;
  }
  .p-btn .login {
    margin: 10px 0;
  }
  .sidebar {
    width: 100px;
  }
  .sidebar ul li {
    text-align: end;
    margin: 0 auto;
    display: inline-block;
  }
  .sidebar.min ul li {
    line-height: 70px;
  }
  .sidebar span {
    display: none;
    text-align: center;
  }
  label #cancel {
    left: 99px;
  }
  .mode {
    display: flex;
    flex-direction: column;
    width: 0;
    background-color: transparent;
    padding: 30px;
    margin: 30px 0 0 0;
  }
  .upgrad {
    margin-top: 50px;
    padding: 5px;
  }
  .basick {
    background-color: transparent;
  }
  /* meadia login */
  .pg-login {
    margin-top: 150px;
  }
  .title {
    font-size: 20px;
  }
  .bg-login {
    display: none;
  }
  .main-ul.history .list-item-hisotry li {
    text-align: center;
  }
  ul li.item-hisotry .not h4 {
    font-size: 12px;
  }
  .sidebar ul li {
    line-height: 40px;
  }

  .flex {
    display: block;
    text-align: center;
  }
  .logo {
    margin: 0;
    margin-bottom: 15px;
  }
  .search {
    width: 220px;
  }
  .header {
    margin-left: 100px;
  }
  .ask {
    left: 130px;
    width: 240px;
    bottom: 20px;
  }
  .ask-text input {
    width: 100px;
    padding: 10px;
  }
  .sun-hint span {
    display: none;
  }
  .qus h3 span {
    display: none;
  }
  .features .hint,
  .features .hint-copy,
  .features .hint-share {
    width: 27px;
  }
  .hint-copy {
    left: 33px;
  }

  .hint-share {
    left: 68px;
  }
  .send {
    margin-left: 0;
  }
  .hed-item {
    flex-direction: column;
  }
  .qus h3 {
    margin-left: 0;
    font-size: 12px;
  }
  .ask {
    height: 420px;
  }
  .ask .par-upload {
    margin-bottom: 30px;
  }
  .media {
    margin-bottom: 20px;
  }
  .media .btn-media {
    font-size: 16px;
  }
  .par-item {
    flex-direction: column;
  }
  .mar {
    margin-left: 110px;
    margin-top: 15px;
  }
}
